html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.matrix__title{
    text-align: center;
    color: #00BFFF;
    font-size: 40px;
}
.matrix__input{
    border: none;
    border-bottom: 1px solid #00BFFF;
    outline: none;
    padding: 5px;
    padding-left: 0;
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    color: #191970;
    & + .matrix__input{
        margin-top: 20px;
    }
    &::placeholder{
        color: rgba(#191970, .5);
    }
}
.matrix__btn{
    border: 2px solid #00BFFF;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    color: #191970;
    font-size: 18px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    margin-bottom: 50px;
}
.matrix__row{
    display: flex;
    justify-content: center;
    width: 100%;
    &:last-child{
        margin-left: -50px;
    }
}
.matrix__wrapper{
    margin-bottom: 50px;
}
.matrix__cell,
.matrix__summ{
    width: 100px;
    height: 50px;
    border: 1px solid #00BFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matrix__cell{
    transition: all .3s;
    &.active{
        background-color: rgba(#00BFFF, .3);
        box-shadow: inset 0 0 10px 1px rgba(#000, .5);
    }
    &.active2{
        background-color: #000;
    }
}
.matrix__summ{
    border-color: #FF0000;
}
.matrix__average{
    width: 100px;
    height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test{
    background-color: #fff;
    &:hover{
        background-color: #000;
    }
}